table {
  border-collapse: collapse;
}

.red {
  color: red;
}

.bold {
  font-weight: bold;
}

caption, th, td {
  border: 1px solid black;
}

caption {
  font-weight: bold;
  border-bottom: none;
}

td {
  min-width: 30px;
  text-align: center;
}