.callback {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 96%;
  margin-left: 2%;
}

.callback__image {
  width: 49%;
  border-radius: 32px;
  background-image: url('../../images/callback_image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.callback__info {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  width: 49%;
  border-radius: 32px;
  background: #0E0E11;
}

.callback__info::after {
  content: '';
  position: absolute;
  bottom: 0%;
  right: 0%;
  width: 80%;
  aspect-ratio: 1 / 1;
  background: radial-gradient(circle at 85% 90%,
      rgba(253, 188, 47, 0.38) 0%,
      rgba(253, 188, 47, 0.12) 25%,
      rgba(253, 188, 47, 0) 55%);

  pointer-events: none;
  z-index: 1;
}

.callback__content {
  width: 80%;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 10%;
}

.callback__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 121%;
  color: var(--main-color);
}

.callback__title-accent {
  color: var(--accent-color);
}

.callback__descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  color: var(--main-color);
  margin-top: 5%;
  padding-right: 3%;
}

.callback__form {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  width: 100%;
}

.wpcf7-form {
  margin-top: 5%;
}

.callback__input {
  border-radius: 12px;
  width: 100%;
  height: 6vh;
  background: var(--main-color);
  margin-bottom: 3%;
  padding-left: 3%;
}

.callback__privacy {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-top: 2%;
}

.callback__privacy-checkbox {
  appearance: none;
  position: relative;
  width: 20px;
  height: 20px;
  border: 2px solid var(--accent-color);
  border-radius: 2px;
  background-color: var(--main-color);
}

.callback__privacy-checkbox:checked {
  background-image: url('../../icons/privacy-checkbox.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.callback__privacy-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: var(--main-color);
}

.callback__privacy-text a {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--accent-color);
}

.callback__button {
  height: 6vh;
  border-radius: 14px;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  color: #1b1b1b;
  margin-top: 5%;
  width: 100%;
}

@media (width <=1440px) {
  .callback__title {
    font-size: 34px;
  }

  .callback__descr {
    font-size: 15px;
  }

  .callback__privacy-text {
    font-size: 12px;
  }

  .callback__button {
    font-size: 14px;
  }
}

@media (width <=1280px) {
  .callback__title {
    font-size: 31px;
  }

  .callback__descr {
    font-size: 14px;
  }

  .callback__privacy-text {
    font-size: 11px;
  }

  .callback__button {
    font-size: 12px;
  }
}

@media (width <=1024px) {
  .callback {
    flex-direction: column;
  }

  .callback__info {
    width: 96%;
    margin-left: 2%;
  }

  .callback__image {
    display: none;
  }
}

@media (width <=576px) {
  .callback {
    flex-direction: column;
    row-gap: 2vh;
  }

  .callback__info {
    width: 100%;
    margin-left: 0;
  }

  .callback__image {
    display: none;
  }

  .callback__content {
    width: 90%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
  }

  .callback__title {
    font-size: 28px;
    line-height: 121%;
  }

  .callback__descr {
    font-size: 16px;
    line-height: 163%;
    margin-top: 3%;
  }
}