.feedback {
  display: flex;
  width: 96%;
  margin-left: 2%;
}

.feedback__content {
  width: 90%;
  margin-left: 5%;
}

.feedback__title {
  font-size: 58px;
  line-height: 117%;
  color: var(--black-color);
}

.swiper {
  width: 100%;
  height: auto;
  margin-top: 3%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  width: 100%;
  height: auto;
  display: block;
}

.swiper-button-next *,
.swiper-button-prev * {
  display: none;
}

.swiper-button-prev {
  width: 68px;
  height: 68px;
  background-image: url('../../icons/slider-button.svg');
  transform: rotate(180deg);
}

.swiper-button-next {
  width: 68px;
  height: 68px;
  background-image: url('../../icons/slider-button.svg');
}

.feedback__line {
  margin-top: 4%;
}

@media (width <=1440px) {
  .feedback__title {
    font-size: 48px;
  }
}

@media (width <=1280px) {
  .feedback__title {
    font-size: 43px;
  }
}

@media (width <=1024px) {
  .feedback__title {
    font-size: 38px;
  }
}

@media (width <=768px) {}

@media (width <=576px) {
  .feedback {
    margin-left: 2%;
  }

  .feedback__content {
    width: 96%;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 1%;
  }

  .feedback__title {
    font-size: 28px;
    line-height: 121%;
  }

  .feedback__items {
    flex-direction: column;
    width: 80%;
  }

  .feedback__item {
    width: 100%;
  }

  .feedback__img {
    max-width: 576px;
    width: 100%;
    height: auto;
  }

  .feedback__line {
    margin-top: 10%;
  }
}