.footer {
  position: relative;
  overflow: hidden;
  width: 96%;
  border-radius: 32px;
  background: #0e0e11;
  margin-left: 2%;
  margin-bottom: 2%;
}

.footer::after {
  content: '';
  position: absolute;
  top: 0%;
  left: 0%;
  width: 40%;
  aspect-ratio: 1 / 1;
  background: radial-gradient(circle at 15% 10%,
      rgba(253, 188, 47, 0.38) 0%,
      rgba(253, 188, 47, 0.12) 25%,
      rgba(253, 188, 47, 0) 55%);

  pointer-events: none;
  z-index: 1;
}


.footer__top-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 92%;
  margin-left: 4%;
  margin-top: 4%;
  gap: 4%;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer__title {
  font-weight: 600;
  font-size: 58px;
  line-height: 117%;
  color: var(--main-color);
}

.footer__contacts-item {
  display: flex;
  flex-direction: column;
}

.contacts-item__label {
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: var(--main-color);
  opacity: 0.5;
  margin-bottom: 10px;
}

.contacts-item__value {
  font-weight: 400;
  font-size: 26px;
  line-height: 100%;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 15px;
}

.contacts-item__line {
  height: 1px;
  background: rgba(255, 255, 255, 0.1);
}

.contacts__icons {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.contacts__icon {
  width: 44px;
  height: 44px;
}

.footer__contacts-button {
  border-radius: 14px;
  width: 258px;
  height: 63px;
  background-color: var(--accent-color);
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 42px;
  font-weight: 700;
  font-size: 16px;
  color: var(--black-color);
}

.footer__map {
  width: 53%;
  height: auto;
  border-radius: 32px;
  overflow: hidden;
}

.footer__links {
  display: flex;
  justify-content: flex-end;
  width: 92%;
  gap: 1.2%;
  margin-left: auto;
  margin-right: 4%;
  margin-top: 6%;
}

.footer__links-item {
  font-weight: 600;
  font-size: 16px;
  line-height: 425%;
  text-align: right;
  color: var(--main-color);
}

.footer__line {
  max-width: 1859px;
  height: 1px;
  background: var(--main-color);
  opacity: 0.1;
  width: 92%;
  margin-left: 4%;
  margin-top: 20px;
}

.footer__privacy {
  display: flex;
  justify-content: space-between;
  width: 92%;
  margin-left: 4%;
  margin-bottom: 42px;
  margin-top: 37px;
}

.footer__privacy-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: var(--main-color);
  opacity: 0.6;
}

.footer__policy {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-align: right;
  color: var(--main-color);
  opacity: 0.6;
}

@media (width <=1440px) {
  .footer__title {
    font-size: 44px;
  }

  .contacts-item__label {
    font-size: 13px;
  }

  .contacts-item__value {
    font-size: 20px;
  }

  .contacts__icon {
    width: 40px;
  }

  .footer__contacts-button {
    margin-top: 25px;
  }

  .footer__links-item {
    font-size: 13px;
  }

  .footer__policy {
    font-size: 12px;
  }
}

@media (width <= 1280px) {
  .footer__title {
    font-size: 40px;
  }

  .contacts-item__label {
    font-size: 11px;
  }

  .contacts-item__value {
    font-size: 17px;
  }

  .contacts__icon {
    width: 35px;
  }

  .footer__contacts-button {
    margin-top: 15px;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 50px;
  }

  .footer__links-item {
    font-size: 13px;
  }

  .footer__policy {
    font-size: 12px;
  }
}

@media (width <=1024px) {
  .footer__top-section {
    flex-direction: column;
  }

  .footer__contacts {
    width: 100%;
  }

  .footer__map {
    width: 100%;
    margin-top: 3%;
    height: 50vh;
  }

  .footer__contacts-button {
    width: 100%;
  }
}

@media (width <=576px) {
  .footer::after {
    top: auto;
    left: auto;
    bottom: 0%;
    right: 0%;
    width: 70%;
    height: 50%;
    aspect-ratio: auto;
    background: radial-gradient(ellipse at 100% 100%,
        rgba(253, 188, 47, 0.38) 0%,
        rgba(253, 188, 47, 0.12) 35%,
        rgba(253, 188, 47, 0) 70%);
  }

  .footer__title {
    font-size: 28px;
  }

  .footer__top-section {
    flex-direction: column;
    margin-left: 4%;
    margin-top: 4%;
    row-gap: 25px;
  }

  .footer__contacts {
    margin-top: 5%;
  }

  .contacts-item__label {
    font-size: 15px;
  }

  .contacts-item__value {
    font-size: 18px;
  }

  .footer__links {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-right: 12px;
    margin-top: 40px;
  }

  .footer__links-item {
    font-size: 16px;
    line-height: 275%;
    text-align: center
  }

  .footer__contacts-button {
    margin-top: 5%;
    width: 100%;
  }

  .footer__map {
    width: 100%;
    height: 214px;
  }

  .footer__privacy {
    flex-direction: column;
    align-items: center;
    gap: 21px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .footer__policy {
    font-size: 16px;
  }
}