@use './mixins' as *;

.about {
  @extend %flex-space-between;
  width: 96%;
  margin-left: 2%;

  &__info {
    position: relative;
    overflow: hidden;
    width: 49%;
    border-radius: 32px;
    background-color: #0e0e11;
  }

  &__info::after {
    content: '';
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 80%;
    aspect-ratio: 1 / 1;
    background: radial-gradient(circle at 85% 90%,
        rgba(253, 188, 47, 0.38) 0%,
        rgba(253, 188, 47, 0.12) 25%,
        rgba(253, 188, 47, 0) 55%);

    pointer-events: none;
    z-index: 1;
  }

  &__content {
    @include flex-column;
    width: 86%;
    margin-left: 8%;
    margin-top: 12%;
    margin-bottom: 6%;
  }

  &__title {
    font-size: 64px;
    line-height: 144%;
    color: var(--main-color);

    @include media_width_1440px {
      font-size: 50px;
    }

    @include media_width_1280px {
      font-size: 46px;
    }

    @include media_width_576px {
      font-size: 35px;
    }
  }

  &__descr {
    font-weight: 400;
    font-size: 22px;
    line-height: 164%;
    color: var(--main-color);
    margin-top: 2%;
    padding-right: 10%;

    @include media_width_1440px {
      font-size: 16px;
    }

    @include media_width_1280px {
      font-size: 14px;
    }

    @include media_width_576px {
      font-size: 14px;
      line-height: 150%;
    }
  }

  &__items {
    display: flex;
    justify-content: space-between;
    margin-top: 6%;

    @include media_width_1440px {
      
    }

    @include media_width_1280px {
      
    }

    @include media_width_576px {
      
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    width: 32%;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: stretch;
    padding: 3%;

    @include media_width_1440px {
      
    }

    @include media_width_1280px {
      
    }

    @include media_width_576px {
      
    }
  }

  &__item-image {
    width: 96px;
    height: 96px;
    object-fit: contain;
    object-position: bottom;

    @include media_width_1440px {
      width: 75px;
      height: 75px;
    }

    @include media_width_1280px {
      
    }

    @include media_width_1024px {
      display: none;
    }

    @include media_width_576px {
      width: 66px;
      height: 66px;
    }
  }

  &__item-descr {
    font-weight: 500;
    font-size: 17px;
    line-height: 159%;
    color: var(--main-color);
    margin-top: 2%;

    @include media_width_1440px {
      font-size: 12px;
    }

    @include media_width_1280px {
      font-size: 10px;
    }

    @include media_width_576px {
      font-size: 15px;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    border-radius: 14px;
    background: var(--accent-color);
    margin-top: 45px;
    padding: 1% 1% 1% 3%;

    @include media_width_1440px {
      
    }

    @include media_width_1280px {
      
    }

    @include media_width_576px {
      
    }
  }

  &__button-name {
    font-weight: 700;
    font-size: 16px;
    color: #1b1b1b;

    @include media_width_1440px {
      
    }

    @include media_width_1280px {
      
    }

    @include media_width_576px {
      
    }
  }

  &__button-arrow-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    border-radius: 11px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    background: var(--main-color);

    @include media_width_1440px {
      
    }

    @include media_width_1280px {
      
    }

    @include media_width_576px {
      
    }
  }

  &__button-image {
    width: 14px;
    height: 14px;

    @include media_width_1440px {
      
    }

    @include media_width_1280px {
      
    }

    @include media_width_576px {
      
    }
  }

  &__image {
    width: 49%;
    height: auto;
    border-radius: 32px;
    background-image: url('../assets/about_image.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    @include media_width_1440px {
      
    }

    @include media_width_1280px {
      
    }

    @include media_width_576px {
      
    }
  }
}

@media (width <=1280px) {

  .about__item-image {
    width: 70px;
    height: 70px;
  }

  .about__button-name {
    font-size: 13px;
  }

  .about__button-arrow-container {
    width: 45px;
    height: 45px;
  }
}

@media (width <=1024px) {
  .about {
    flex-direction: column;
  }

  .about__info {
    width: 96%;
    margin-left: 2%;
  }
}

@media (width <=576px) {
  .about {
    width: 96%;
    margin-left: 2%;
    flex-direction: column;
  }

  .about__image {
    display: none;
  }

  .about__info {
    width: 100%;
    margin-left: 0%;
  }

  .about__content {
    width: 94%;
    margin: 6% 3% 6% 3%;
  }

  .about__items {
    flex-direction: column;
    margin-top: 6%;
  }

  .about__item {
    width: 100%;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2%;
    padding: 3%;
    gap: 5%;
  }

  .about__button {
    display: none;
  }
}