.hero {
  padding-top: 80px;
  position: relative;
}

.hero::after {
  position: absolute;
  bottom: 106px;
  z-index: -1;
  content: "";
  width: 100%;
  height: 48px;
  background: url("../materials/decor-index.svg") repeat-x;
}

.hero-container {
  display: flex;
  align-items: center;
  gap: 28px;
}

.hero h1 {
  margin-bottom: 40px;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 62px;
  line-height: 115%;
  text-transform: uppercase;
  color: #2c332f;
}

.hero h1 strong {
  color: #3596ed;
  font-weight: 600;
}

.hero-info .text {
  margin-bottom: 140px;
  max-width: 440px;
}

.hero a {
  display: inline-block;
  padding: 19px 32px;
  width: 270px;
  height: 57px;
  background: #3596ed;
  font-family: "Ubuntu", sans-serif;;
  font-weight: 500;
  font-size: 15px;
  line-height: 130%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  transition: opacity 0.2s;
}

.hero a:hover {
  opacity: 0.85;
}

.hero-images {
  position: relative;
  display: flex;
}

.hero-choose {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  padding: 22px;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #535755;
  max-width: 161px;
  text-align: center;
}

.news-container {
  display: flex;
  gap: 28px
}

.news-article {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 284px;
  background-color: #fff;
  border: 1px solid #d3cbd9;
}

.news-article img {
  display: block;
}

.news-date {
  display: inline-block;
  margin-bottom: 8px;
}

.news-info {
  padding: 20px 20px 0;
  margin-bottom: 12px;
}

.news-info-text {
  color: #2c332f;
}

.news-article footer {
  padding: 0 20px 20px;
  margin-top: auto;
}

.news-link {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #3596ed;
}

.news-link::after {
  display: inline-block;
  content: "";
  width: 22px;
  height: 9px;
  background-image: url("../materials/arrow-right.svg");
  transition: transform 0.2s;
}

.news-link:hover::after {
  transform: translateX(5px);
}