.woocommerce-Price-amount {
  margin-left: 10px;
}

.woocommerce-loop-product__title {
  margin-left: 10px !important;
}

.button .product_type_simple .add_to_cart_button .ajax_add_to_cart {
  margin-left: 10px !important;
  margin-top: 10px !important;
}