.news__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  max-width: 284px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  background-color: #fff;
  border: 1px solid #d3cbd9;
}

@media (width <= 992px) {
  .news__article {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 350px;
  }
}

@media (width <= 768px) {
  .news__article {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 400px;
  }
}