:root {
  /* font-family */
  --font-family: "Manrope", sans-serif;
  --second-family: "Inter", sans-serif;

  /* colors */
	--main-color: #fff;
  --black-color: #0e0e11;
	--accent-color: #fdbc2f;
  --bg-color: #f3f7fa;
  --text-color: #70797d;

  /* layers */
  /* --layer-negative: -1;
  --layer-0: 0;
  --layer-1: 1;
  --layer-2: 2;
  --layer-3: 3; */
}