html {
  font-family: sans-serif;
}

body * {
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 1320px;
  margin: 0 auto;
  padding: 10px 15px;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid grey;
}

ul {  
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30%;
  flex-wrap: wrap;
}

a {
  color: black;
}

#number {
  text-decoration: none;
}