.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 92%;
  margin-left: 4%;
}

.calculator__top-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.calculator__info {
  position: relative;
  overflow: hidden;
  display: flex;
  width: 49%;
  border-radius: 20px;
  background: #0E0E11;
}

.calculator__info::after {
  content: '';
  position: absolute;
  bottom: 0%;
  right: 0%;
  width: 70%;
  aspect-ratio: 1 / 1;
  background: radial-gradient(circle at 85% 90%,
      rgba(253, 188, 47, 0.38) 0%,
      rgba(253, 188, 47, 0.12) 25%,
      rgba(253, 188, 47, 0) 55%);

  pointer-events: none;
  z-index: 1;
}

.calculator__content {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 10%;
  margin-left: 10%;
  margin-bottom: 20%;
}

.calculator__content-title {
  font-size: 48px;
  line-height: 121%;
  color: var(--main-color);
}

.calculator__content-title-accent {
  color: var(--accent-color);
}

.calculator__content-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 180%;
  color: var(--main-color);
  margin-top: 15%;
}

.calculator__content-days {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3%;
}

.calculator__content-day {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13%;
  height: 8vh;
  border-radius: 9px;
  background: rgba(230, 235, 239, 0.1);
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: var(--main-color);
}

.calculator__content-day--active {
  background: var(--accent-color);
  color: var(--black-color);
}

.calculator__image {
  width: 49%;
  border-radius: 20px;
  background-image: url('../../images/calc_image.jpg');
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.calculator__plans {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 3%;
}

.calculator__plan {
  width: 24%;
  border-radius: 20px;
  box-shadow: 0 4px 6px 0 rgba(176, 182, 186, 0.1);
  background: var(--bg-color);
  padding-top: 1%;
  padding-bottom: 1%;
}

.calculator__plan-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  text-align: center;
  color: #000;
}

.calculator__plan-amount {
  font-weight: 700;
  font-size: 30px;
  line-height: 107%;
  text-align: center;
  color: #0e0e11;
  margin-top: 5%;
}

.calculator__plan-button {
  display: flex;
  justify-content: center;
  width: 80%;
  border-radius: 14px;
  background: #0e0e11;
  margin-top: 8%;
  margin-left: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  font-weight: 700;
  font-size: 16px;
  color: var(--main-color);
}

.calculator__plan-button--active {
  background: var(--accent-color);
  color: var(--black-color);
}

@media (width <=1440px) {
  .calculator__content-title {
    font-size: 35px;
  }

  .calculator__content-text {
    font-size: 15px;
  }

  .calculator__content-day {
    height: 7vh;
    font-size: 16px;
  }

  .calculator__plan-descr {
    font-size: 12px;
  }

  .calculator__plan-amount {
    font-size: 22px;
  }

  .calculator__plan-button {
    font-size: 12px;
  }
}

@media (width <=1280px) {
  .calculator__content-title {
    font-size: 32px;
  }

  .calculator__content-text {
    font-size: 14px;
  }

  .calculator__content-day {
    height: 7vh;
    font-size: 15px;
  }

  .calculator__plan-descr {
    font-size: 11px;
  }

  .calculator__plan-amount {
    font-size: 21px;
  }

  .calculator__plan-button {
    font-size: 10px;
  }
}

@media (width <=1024px) {
  .calculator__content-title {
    font-size: 28px;
  }

  .calculator__plan {
    width: 49%;
    margin-bottom: 2%;
  }
}

@media (width <=576px) {
  .calculator {
    width: 96%;
    margin-left: 2%;
  }

  .calculator__image {
    display: none;
  }

  .calculator__info {
    width: 100%;
  }

  .calculator__content {
    width: 96%;
    margin-left: 2%;
  }

  .calculator__content-title {
    font-size: 28px;
    line-height: 129%;
  }

  .calculator__content-text {
    font-size: 16px;
    line-height: 225%;
    margin-top: 5%;
  }

  .calculator__content-days {
    flex-wrap: wrap;
    justify-content: start;
    gap: 3%;
  }

  .calculator__content-day {
    width: 22%;
    margin-bottom: 3%;
  }

  .calculator__content-day:nth-child(5) {
    margin-left: 12.5%;
  }

  .calculator__plans {
    flex-direction: column;
    margin-bottom: 5%;
  }

  .calculator__plan {
    width: 96%;
    margin-left: 2%;
    margin-bottom: 4%;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .calculator__plan-descr {
    font-size: 16px;
  }

  .calculator__plan-amount {
    margin-top: 5%;
    font-size: 24px;
  }

  .calculator__plan-button {
    margin-top: 7%;
    font-size: 14px;
  }
}