.questions {
  width: 96%;
  margin-left: 2%;
  border-radius: 32px;
  background: var(--bg-color);
}

.questions__content {
  width: 92%;
  margin-left: 4%;
  margin-top: 4%;
  margin-bottom: 4%;
}

.questions__faq {
  display: flex;
  justify-content: space-between;
  gap: 5%;
}

.faq__title {
  font-size: 58px;
  line-height: 117%;
  color: var(--black-color);
}

.faq__title-accent {
  color: var(--accent-color);
}

.faq__items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 55%;
}

.faq__item {
  width: 100%;
  border-radius: 20px;
  background: var(--main-color);
  box-shadow: 0 4px 6px 0 rgba(176, 182, 186, 0.1);
}

.faq__item-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 92%;
  margin-left: 4%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.faq__item-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 85%;
  gap: 2%;
}

.faq__item-number {
  font-weight: 600;
  font-size: 18px;
  line-height: 178%;
  color: var(--accent-color);
}

.faq__item-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 178%;
  color: #000;
}

.faq__item-arrow {
  width: 48px;
  height: 48px;
}

.questions__first-title {
  font-weight: 600;
  font-size: 28px;
  line-height: 107%;
  color: var(--black-color);
  margin-top: 5%;
}

.questions__second-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 136%;
  color: var(--black-color);
  margin-top: 3%;
}

.questions__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  color: var(--text-color);
  margin-top: 1%;
}

.questions__items {
  margin-top: 1%;
}

.questions__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  color: var(--text-color);
  position: relative;
  padding-left: 38px;
  margin-bottom: 8px;
}

.questions__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 36px;
  height: 36px;
  background-image: url('../../icons/checked.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

summary,
summary::-webkit-details-marker {
  list-style: none;
}

.faq__item-answer {
  width: 92%;
  margin-left: 4%;
  margin-bottom: 2%;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
}

.faq__item-answer p {
  margin-top: 1%;
}

.faq__item-answer p strong,
.faq__item-answer ul strong,
.faq__item-answer ol strong {
  font-weight: 600;
}

.faq__item-answer ul {
  list-style-type: disc;
  list-style-position: outside;
  padding-left: 30px;
  margin-top: 1%;
}

.faq__item-answer ol {
  list-style-type: decimal;
  list-style-position: outside;
  padding-left: 25px;
  margin-top: 1%;
}

@media (width <=1440px) {
  .faq__title {
    font-size: 44px;
  }

  .faq__item-number {
    font-size: 14px;
  }

  .faq__item-title {
    font-size: 14px;
  }

  .questions__first-title {
    font-size: 22px;
  }

  .questions__second-title {
    font-size: 16px;
  }

  .questions__text {
    font-size: 13px;
  }

  .faq__item-answer {
    font-size: 14px;
  }
}

@media (width <=1280px) {
  .faq__title {
    font-size: 41px;
  }

  .faq__item-number {
    font-size: 13px;
  }

  .faq__item-title {
    font-size: 13px;
  }

  .questions__first-title {
    font-size: 20px;
  }

  .questions__second-title {
    font-size: 14px;
  }

  .questions__text {
    font-size: 12px;
  }

  .questions__item {
    font-size: 12px;
  }

  .faq__item-answer {
    font-size: 13px;
  }
}

@media (width <=1024px) {
  .questions__faq {
    flex-direction: column;
  }

  .faq__items { 
    margin-top: 3%;
    width: 100%;
  }
}

@media (width <=576px) {
  .questions {
    margin-left: 2%;
  }

  .questions__faq {
    flex-direction: column;
    margin-top: 10%;
  }

  .faq__title {
    font-size: 28px;
  }

  .faq__items {
    width: 100%;
    margin-top: 7%;
  }

  .faq__item-info {
    margin-top: 4%;
    margin-bottom: 4%;
  }

  .faq__item-left {
    gap: 4%;
    width: 80%;
  }

  .faq__item-number {
    font-size: 16px;
    line-height: 150%;
  }

  .faq__item-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
  }

  .questions__first-title {
    font-size: 20px;
    margin-top: 10%;
  }

  .questions__second-title {
    font-size: 16px;
    margin-top: 10%;
  }

  .questions__text {
    font-size: 14px;
    margin-top: 5%;
  }

  .questions__items {
    margin-top: 3%;
  }

  .questions__item {
    font-size: 14px;
  }
}