.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #d3cbd9;
}

.phone {
  text-align: right;
}

.phone p {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: right;
  color: #858e8a;
  margin-bottom: 8px;
}

.phone a {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #2c332f;
  transition: color 0.2s;
}

.phone a:hover {
  color: #3596ED;
}