.hero__choose-text {
  position: absolute;
  top: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 22px;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #535755;
  max-width: 161px;
  text-align: center;
}

@media (width <= 576px) {
  .hero__choose-text {
    max-width: 125px;
    padding: 10px;
    font-size: 14px;
  }
}